<div class="grid-x align-center">
    <div class="large-6 text-center">
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
    </div>
</div>
<div class="grid-x align-center">
    <div class="large-6 callout" style="color: #9e0c0f; font-size: .8em;"><p>{{error.stack}}</p></div>
</div>
