<div class="grid-x align-center">
    <p class="show-for-small-only" style="font-family: 'Source Sans Pro', 'Roboto', sans-serif">you are on a small screen</p>
    <p class="show-for-medium hide-for-large" style="font-family: 'Source Sans Pro', 'Roboto', sans-serif">you are on a medium screen</p>
    <p class="show-for-large hide-for-small-only" style="font-family: 'Source Sans Pro', 'Roboto', sans-serif">you are on a large, XL, or XXL screen</p>
</div>


